h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

blockquote{
    padding: 5px;
    border: 70px;
    border: 7px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(100, 97, 97);
}